<!DOCTYPE html>
<html>
<head> 
	<title>Edit Product</title>
</head>
<body>
	<h1>Edit Product: {{ product.name }}</h1>
	<form action="/edit_form" method="POST">
		Product Name:<br>
		<input type="text" name="name" value= {{ product.name }}>
		<br>
		Price:<br>
		<input type="text" name="price" value= {{ product.price }}>
		<br>
		Description:<br>
		<input type="text" name="description" value= {{ product.description }}>
		<br>
		Picture Link<br>
		<input type="text" name="pic_link" value= {{ product.picture_link }}>
		<br><br>
		<input type="hidden" name="product_id" value={{ product.id }}>
		<button type="submit" class="btn btn-dark">Edit Product</button>
	</form>

</body>
</html>