<!DOCTYPE html>
<html>
<head>
	<title>Macarons Store!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='store.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body> 
	<h1 id= "title">Welcome to the store!</h1>
	<ul>
		<li><a href= "{{ url_for('home') }}">Home</a></li>
		<li><a href= "{{ url_for('about') }}">About</a></li>
		<li><a href="{{ url_for('store') }}">Macarons Store</a></li>
	</ul>

<div id = "table">
	<div class = "row" >
		{% for product in products_list %}
			<div class = "col-md-2">
				<div class = "card" id = {{ product.description }}>
				  <img src= {{ product.picture_link }} alt="Pink Macaron" height="150" style="width:100%">
				  <h1>{{ product.name }}</h1>
				  <p class="price">{{ product.price }}$</p>
				  <form action="/cart" method="POST">
				  	<input type="checkbox" name="product_info" value= {{ product.id }} checked="checked" style="opacity:0;">
				 	<p><button type="submit">Add to Cart</button></p>
				  </form>
				</div>	
			</div>
		{% endfor %}
	</div>
</div>
</body>
</html>